
:root {
    box-sizing: border-box;
    font-size: 16px;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 1440px;
    height: 800px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-top: 1rem; */
    /* padding: 1rem; */
    @media only screen and (max-width: 450px) {
        width: 100%;
        height: auto;
    }
}
main {
    font-family: "Poppins";
    background-color: rgb(255,121,121);
    display: flex;
    height: 100%;
    background-image: url('./images/bg-intro-desktop.png');
    flex-direction: row;
    @media only screen and (max-width: 450px) {
        flex-direction: column;
    }
}
.description-card {
    justify-content: left;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: white;
    margin: auto 0 auto auto;
    @media only screen and (max-width: 450px) {
        flex: 1 1 100%;
        margin: 3em 0.5em;
    }
}
.center{
    margin: auto;
}
.description-card h1 {
    width: 50%;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    padding-bottom: 0.5em;
    @media only screen and (max-width: 450px) {
        width: 80%;
        text-align: center;
    }
}
.description-card h2 {
    width: 50%;
    text-align: left;
    font-size: 0.75rem;
    letter-spacing: 0.25px;
    @media only screen and (max-width: 450px) {
        width: 80%;
        text-align: center;
    }
}
.form-card {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 2em auto auto;
    @media only screen and (max-width: 450px) {
        flex: 1 1 100%;
        margin-bottom: 2em;
        width: 80%;
    }
}
.banner {
    background-color: #5E54A4;
    color: white;
    width: 60%;
    padding: 0.5em;
    margin: 0.5em 0;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 10px 0 rgba(0,0,0,0.16);
    border-radius: 5px;
    @media only screen and (max-width: 450px) {
        width: 100%;
        padding: 1em 3.5em;
        margin: 1em;
    }
}
.form-card > form {
    background-color: white;
    width: 60%;
    @media only screen and (max-width: 450px) {
        width: 100%;
    }
    border-radius: 10px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.16);
}
.input-group {
    width: 90%;
    margin: auto;
    /* width: 34vw; */
}
.form-card input {
    display: block;
    border: 1px solid hsl(246, 25%, 77%);
    margin: 1em 1em 0em 1em;
    padding: 0.5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}
.input-item input:focus {
    outline: none;
    border-color: hsl(249, 10%, 26%);
}
.input-item {
    position: relative;
}
.error-icon {
    display: none;
}
.error-icon > img {
    position: absolute;
    top: 8px;
    right: 10px;
    max-width: 16px;
    max-height: 16px;
}
.error-msg {
    font-size: 0.75em;
    text-align: right;
    color: red;
    margin-bottom: 1.33em;
    display: none;
}
/* input:invalid {
    border: 1px solid red; 
} */
.disclaimer {
    margin: 0.5em;
    font-size: 0.675rem;
}
.disclaimer > em {
    font-style: normal;
    color: red;
}

.submit-button {
    background-color: #38CC8B;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}
.submit-button:hover {
    cursor: pointer;
}